
.horizontal-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 130px;
}
.horizontal-menu > li {
  float: left;
}

.horizontal-menu > li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}


.menu-logo-image{
  width: 25%;
  height: 100%;
  float: left;
  bottom: 83.81%;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;
}
.menu-centre{
  height: 100%;
  float: left;
  width: 50%;
}
.menu-login-section{
  height: 100%;
  float: left;
  width: 25%;
  padding-bottom: 40px;
}
.navi-panel{
  width: 80%;
  height: 10%;
  position: fixed;
  top: 2%;
  background-color: #E7EEFF;
}

.menu-button{
  width: 90%;
  height: 30px;
  border-radius: 5px;
  background-color:#071275;
  margin: 30px 10px 22px 10px;
}
.left-column{
  height: 100%;
  width: 10%;
  background-color: #E7EEFF;
  float: left;
  position: fixed;
  top: 0%;
}

.right-column{
  height: 100%;
  width: 10%;
  background-color: #E7EEFF;
  margin-left: 90%;
  float: left;
  position: fixed;
  top: 0%;
}

.center{
  height: 100%;
  width: 80%;
  background-color: #E7EEFF;
  float: left;
  margin-left: 10%;
  padding: 2%;

}

.main-page{
  width: 100%;
  height: 100vh;
}

.content{
  background-color: #E7EEFF;
  height: 90%;
  margin-top:7%;
}
.fotter{
  width: 80%;
  height: 5%;
  position: fixed;
  bottom: 0%;
  background-color: #E7EEFF;
}
.fulll-width-content{
  width: 100%;
  height: 250px;
  background-color: #071275;
}
.quarter-width_content{
  width: 24%;
  height: 250px;
  background-color: #071275;
  float: left;
  margin-right: 1%;
}

.three-quarters-width_content{
  width: 75%;
  height: 250px;
  background-color: #071275;
  float: left;

}
.content-block{
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
}

.Header{
  background-color: #071275;
  text-align: center;
  font-size: 32px;
  top:50%;
  left:50%;
  width: 200px;
  position: absolute;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.vh-85 {
  min-height: 85vh;
  max-height: 85vh;
}

.vh-10 {
  min-height: 10vh;
  max-height: 10vh;
}

.vh-5 {
  min-height: 5vh;
  max-height: 5vh;
}
.vh-90 {
  min-height: 90vh;
  max-height: 90vh;
}

.vh-95 {
  min-height: 95vh;
}

.vh-98 {
  min-height: 98vh;
}

.vh-2 {
  min-height: 1vh;
  max-height: 1vh;
}

.vh-60 {
  min-height: 60vh;
  max-height: 60vh;
}

.vh-80 {
  min-height: 80vh;
  max-height: 80vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*.mainContent{*/
/*  overflow-y: auto;*/
/*}*/
.competitionDetails{
  background-color: #f1f1f1;
  z-index: 3;
  border-radius: 25px;
}
.competitionDetailsCard{
  height: 50%;
}

@media only screen and (max-width: 720px) {
  .right-page-margin {
    display: none;
  }
  .left-page-margin {
    display: none;
  }
}

@media only screen and (min-width: 880px) {
  #CompetitionName {
    position: absolute;
  }
}

#CompetitionName {
  background-color: blue;
  width: 40%;
  border-radius: 25px;
}
.competitionDetailsCard>.card-img-top{
  max-width: 25vw;
  width: 100%;
  height: auto;
}